langchain==0.3.25
langchain-core==0.3.66
langchain-groq
langchain-community==0.3.24
langgraph==0.4.1

chromadb==0.6.3
sentence-transformers==3.4.1
langchain-huggingface==0.1.2
langchain-chroma==0.2.3

unstructured==0.17.2
markdown==3.7

python-dotenv==1.1.0
rich==13.9.4
pydantic==2.11.3